body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  height: auto;
  background-color: #222222;
  /* background: linear-gradient(48deg, rgba(28,255,245,1) 0%, rgba(191,56,255,1) 100%); */
  overflow: hidden;





}

* {
  font-family: 'Nunito', sans-serif;
}
